<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UsersToTrack" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key = "ConsumerKey" value = "lVVcDevyLOZcL2dqy4lL0g"/>
    <add key = "ConsumerSecret" value = "WZJxCCR2SY87SAVEJqBGBE7I5JOdGUYSlywTxMQdo"/>
    <add key = "AccessToken" value = "1557566924-AD2Ml2VViqHy08KVlaoW9f11hXqz5deo4aRGW43"/>
    <add key = "AccessTokenSecret" value = "O5i0NEO3EGG88r4dkbBjsh7gaCrFN7OCHsup9Ygb5XPlT"/>
    <add key = "DBName" value = "TweetTracking"/>
    <add key = "DBNamePath" value = "d:\"/>
    <add key = "SQLServerName" value = "TOKASHYO-PC"/>
    <add key = "Timeframe" value = "1"/><!--In Days-->
    <add key = "TrackingPeriod" value = "7"/><!--In Days-->
    <add key = "TimeBetweenCycles" value = "2"/><!--In Hours-->
  </appSettings>

  <UsersToTrack>
    <add key="WikiLeaks" value="16589206"/>
    <add key="ICIJorg" value="131935861"/>
    <add key="ECA_Legion" value="823963290"/>
    <add key="G3NTbl4ck" value="874907107"/>
    <add key="Rucyborg" value="2369282910"/>
    <add key="LulzSec" value="294325981"/>
    <add key="AnonyRedHack" value="1645968775"/>
    <add key="AnonymousEurope" value="228801598"/>
  </UsersToTrack>
</configuration>